*{
    margin: 0;
    padding: 0;
}

.grid-box {
    width: 90%;
    margin: auto;
    vertical-align: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.grid-box div{
    height: 80px;
}